body {
    margin: 0;
    background: #242424;
    text-align: center;
    list-style: none;
    text-align: center;
}

p {
color: white;
margin-right: 60px;
margin-left: 60px;
font-size: 20px;
font-weight: 500;
line-height: 1.8;
}
